<div class="menu">
  <h2>Selecione uma das opções</h2>
  <button mat-raised-button [routerLink]="['elementos-unicos']">Elementos únicos</button>
  <button mat-raised-button [routerLink]="['calculos-binario']">Calcular binários</button>
</div>
