<div class="retornar-menu">
  <button mat-raised-button [routerLink]="['']">Voltar ao menu</button>
</div>
<h3>O número tem que ser, maior que -1000 e menor que 1000</h3>
<div class="linha">
  <mat-form-field class="mat-form-field-fluid input-numero">
    <mat-label>Informe um número</mat-label>
    <input matInput [formControl]="numeroControl"/>
    <mat-error *ngIf="numeroInvalido">
      <strong>Número inválido</strong>
    </mat-error>
    <mat-error *ngIf="limiteInvalido">
      <strong>Número não está dentro do limite definido</strong>
    </mat-error>
  </mat-form-field>
  <button mat-raised-button (click)="addItem()">Add</button>
</div>
<mat-divider></mat-divider>
<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let item of itens">{{item}}</mat-list-item>
</mat-list>
