.linha {
  display: flex;
  justify-content: center;
  padding: 20px 0px;

  button {
    margin-left: 15px;
  }
}
h3 {
  text-align: center;
}

.retornar-menu {
  text-align: end;
  padding: 15px;
}
