<div class="retornar-menu">
  <button mat-raised-button [routerLink]="['']">Voltar ao menu</button>
</div>
<h3>Informe os números binários a ser calculado</h3>
<div class="linha">
  <div class="coluna">
    <mat-form-field class="mat-form-field-fluid input-numero">
      <mat-label>Informe um número</mat-label>
      <input matInput [formControl]="formGroup.get('num1')"/>
      <mat-error>
        <strong>Número binário inválido</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="coluna">
    <mat-form-field appearance="fill">
      <mat-label>Operador</mat-label>
      <mat-select [formControl]="formGroup.get('operador')">
        <mat-option *ngFor="let operador of operadores" [value]="operador.id">
          {{operador.descricao}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="coluna">
    <mat-form-field class="mat-form-field-fluid input-numero">
      <mat-label>Informe um número</mat-label>
      <input matInput [formControl]="formGroup.get('num2')"/>
      <mat-error>
        <strong>Número binário inválido</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="coluna">
    <button mat-raised-button (click)="calcular()">=</button>
  </div>
  <div class="coluna resultado">
    {{resultado}}
  </div>
</div>
