.linha {
  display: flex;

  .coluna {
    padding: 0px 10px;
  }

  .resultado {
    border: 1px solid #c3c3c3;
    border-radius: 15px;
    min-width: 250px;
    height: 30px;
    margin-top: 10px;
    line-height: 2;
  }
}
h3 {
  text-align: center;
}

button {
  margin-top: 10px;
}

.retornar-menu {
  text-align: end;
  padding: 15px;
}
